<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-buttons slot="start"><ion-icon  routerLink="/accueil" name="arrow-back-outline" style="color: rgb(7, 1, 19);font-size: 25px;"></ion-icon>
      
      <ion-menu-button *ngIf="loginData.profil =='chauffeur'"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: rgb(255, 255, 255)">Ikasama</ion-title>
    
  </ion-toolbar>
</ion-header><br>
<ion-content [fullscreen]="true">
  <ion-icon name="create-outline" routerLink="/modifie/{{loginData.idUtilisateur}}" style="float:right;color: rgb(19, 0, 49);font-size: 30px;"></ion-icon>
    <ion-buttons slot="start">
     
     <!-- <ion-back-button  defaultHref="/home"></ion-back-button> -->
    </ion-buttons>
    <ion-buttons slot="end">
   
     </ion-buttons>

  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/img/blue.jpg" />
      </ion-avatar>
    </div>
  </ion-grid>



  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Nom</ion-text>
        <p><ion-text color="success">{{loginData.nom}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>prenom</ion-text>
        <p><ion-text color="warning">{{loginData.prenom}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>login</ion-text>
        <p><ion-text color="dark">{{loginData.login}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>profil</ion-text>
        <p><ion-text color="dark">{{loginData.profil}}</ion-text></p>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-text>Etat</ion-text>
     
      </ion-label>
      <ion-icon color="success"name="radio-button-on"></ion-icon>
    </ion-item>
    <div class="deconnexion">
        
      <ion-button color="danger" slot="end" (click)="presentAlert()">
        <ion-icon style="width: 30px; " name="power-outline"></ion-icon>
      </ion-button>
    

  </div>
  </ion-list>

</ion-content>