<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white" >BlueMan</ion-title>
  </ion-toolbar>
</ion-header><br><br> 
<ion-icon   routerLink="/trajet" name="arrow-back-outline" style="color: rgb(23, 0, 77);font-size: 25px;"></ion-icon>
<h1 class="titleMenu">Trajet en Attente</h1>
<ion-content>
  
  <ion-modal [isOpen]="isOpen" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isOpen= false">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="wrapper">   <h1>{{DetailAttente.departArrive}}</h1>
       
         
          <ion-row >
            <ion-col>
   
             
          </ion-col>
          </ion-row >
            <div align="center">
           
              
                    
               
             
            </div>
        
            <ion-grid class="main-header">
              <div align="center">
                <ion-avatar>
                  <img src="assets/img/blu.png" />
                </ion-avatar>
              </div>
            </ion-grid>
          
          
          
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <ion-text>Nom</ion-text>
                  <p><ion-text color="success">{{DetailAttente.departArrive}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text>Heure</ion-text>
                  <p><ion-text color="warning">{{DetailAttente.heureDep}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text>Trajet</ion-text>
                  <p><ion-text color="dark">{{DetailAttente.position}}</ion-text></p>
                </ion-label>
              </ion-item>
             
              <ion-item>
                <ion-label>
                  <ion-text>Parc</ion-text>
                  <p><ion-text color="dark">{{DetailAttente.parc.nom}} </ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text>chauffeur</ion-text>
                  <p><ion-text color="dark">{{DetailAttente.utilisateur.nom}}   {{DetailAttente.utilisateur.prenom}} </ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text>Etat</ion-text>
               
                </ion-label>
                <ion-icon color="success"name="information-circle-outline"></ion-icon>
              </ion-item>
            
            </ion-list>
          



    
     
        </div>
      </ion-content>
    </ng-template>
    </ion-modal>



  <ion-list>
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
    <ion-card *ngFor="let item of listTrajetAttente | filter:searchText">

  
      <ion-item >
      
      <ion-thumbnail slot="start">
        <ion-avatar>
          <img src="assets/img/coli.png"  (click)="detailsTrajetatente(item.idTrajet)"/>
        </ion-avatar>
       </ion-thumbnail>
  
      
      
      <ion-label>
  
      <h2>{{item.departArrive}} <span style="float:right;color: rgb(20, 0, 109);" ></span></h2> 
      <h2> <span style="float:right;color: rgb(44, 139, 6);font-size: 30px;" >
        <ion-icon  name="information-circle-outline"  (click)="presentAlert(item.idTrajet)" style="float:right;color: rgb(26, 228, 19);font-size: 30px;"></ion-icon></span>
        <ion-icon   style="color: rgb(20, 0, 109);"  name="star-outline"></ion-icon>  
        <ion-icon   style="color:rgb(20, 0, 109);"  name="star-outline"></ion-icon>
        <ion-icon   style="color: rgb(20, 0, 109);"  name="star-outline"></ion-icon>
        <ion-icon   style="color: rgb(20, 0, 109);"  name="star-outline"></ion-icon>
      
      
      </h2>
  
    </ion-label>
    </ion-item> <br>
  
      
  
  </ion-card>
    
  </ion-list>
  
</ion-content>
