<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white">Ikasama</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-content class="ion-padding"><ion-icon   routerLink="/coli" name="arrow-back-outline" style="color: rgb(23, 0, 77);font-size: 25px;"></ion-icon>
    Ajouter Un Colie
  
      <ion-avatar style="align-items: center;height: 200px; width: 200px;">
        <img src="assets/img/w.jpg"/>
      </ion-avatar>
     
    <br><br>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
     <ion-item lines="full">
       <ion-label position="stacked"> description</ion-label>
       <ion-input type="text" name="description" ngModel #description="ngModel" ></ion-input>
     </ion-item>
     <div >
      <ion-label position="stacked">telExp</ion-label>
      <ion-item lines="full">
        <ion-input ngModel name="telExp" type="number" placeholder="Entrer tel" #telExp="ngModel" pattern="[0-9]{8,14}"></ion-input>
      </ion-item>
      <div style="font-size: 10px; color: red;" [hidden]="telExp.valid || telExp.pristine" class="alert alert-danger">
        Doit Correspondre aux numero d'un utilisateur max 08 chiffres min 8chiffres 
      </div>
      
    </div>
  
    <div >
      <ion-label position="stacked">telDest</ion-label>
      <ion-item lines="full">
        <ion-input ngModel name="telDest" type="number" placeholder="Entrer tel" #telDest="ngModel" pattern="[0-9]{8,14}"></ion-input>
      </ion-item>
      <div style="font-size: 10px; color: red;" [hidden]="telDest.valid || telDest.pristine" class="alert alert-danger">
        Respecter le Format svp : max 08 chiffres min 8chiffres
      </div>
      
    </div>
 

     <!-- <ion-item>
      <option value="">-- trajet attente--</option>
      <ion-select placeholder="Select Trajet"   name="idTrajet" ngModel #idTrajet="ngModel">
        <ion-select-option  *ngFor="let item of trajet" value="{{item.idTrajet}}">{{trajet.ref}} {{item.cercledepart.nomCercle}} /  {{item.cerclearrivee.nomCercle}}   </ion-select-option>
       
      </ion-select>
    </ion-item> -->
    
    <ion-item>
      <option value="">-- trajetCours--</option>
      <ion-select placeholder="Select Trajet"   name="idTrajet" ngModel #idTrajet="ngModel">
        <ion-select-option  *ngFor="let item of listTrajet" value="{{item.idTrajet}}">{{item.ref}} {{item.cercledepart.nomCercle}} /  {{item.cerclearrivee.nomCercle}}   </ion-select-option>
       
      </ion-select>
    </ion-item>
     
  <br><br>
     <ion-button shape="round">Fermer</ion-button>
     <ion-button type="submit" shape="round" style="float:right;" >Ajouter</ion-button>
    </form>
   </ion-content>
</ion-content>
