<ion-header [translucent]="true" >
  <ion-toolbar>
    <!-- style="height: 20%;" -->
<!-- <img src="../..\assets\img\haut.jpg" style="margin-left: 90px;"> -->
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" *ngIf="loginData.profil =='chauffeur'" ></ion-menu-button>
    </ion-buttons>

    <ion-title style="color: white">IkaSama</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="loginData.profil =='magasinier'">
      <ion-icon  routerLink="/magazinier"expand="block"name="list-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="popover">
     <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  </div>
  <ion-grid class="ion-margin-top">
  <ion-item lines="none" color="light">
    
    <div class="waviy a">

      <span style="--i:1">C</span>
      <span style="--i:2">o</span>
      <span style="--i:3">u</span>
      <span style="--i:4">r</span>
      <span style="--i:6">S</span>
  </div>
  <ion-icon routerLink="/utlilisateur" *ngIf="loginData.profil =='client'"  style="margin-left: 70%;color: rgb(235, 163, 6);font-size: 30px;"  name="layers-outline"></ion-icon>
  </ion-item>
  <!-- <ion-row >
    <ion-slides >
      <ion-slide >
        <div>
        <ion-card class="bgCard a" [routerLink]="[]"  *ngFor="let item of trajetCour" >
      
          <ion-card-header>
            <ion-label>
              <ion-label>
              {{item.departArrive}}
                <p>heure:{{item.heureDep}}</p>
              </ion-label>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/img/v.jpg" />
            <ion-icon  color="primary"name="call"></ion-icon>
          </ion-card-content>
    
        </ion-card>
        
      </div>
      </ion-slide>
    </ion-slides>
  </ion-row> -->

  <ion-row>
    <ion-col size="6" *ngFor="let item of trajetCour | filter:searchText">
      <ion-card class="ion-text-center"  style="margin:2% auto ;" >  
      
         <ion-icon name="call-outline" (click)="appel(item.telephone)" style="color: rgba(22, 151, 238, 0.829);font-size: 20px;"></ion-icon>  
         <ion-label color="dark"  class="label" style="margin-left: 5%;color:rgb(6, 151, 235);font-size: 15px;"> {{item.utilisateur.telephone}}</ion-label>
        <div align="center">
          <ion-row >
            <img src="assets/img/aa.png"alt="img" class="img" style="height: 120px;width: 100% ;"/>               
          </ion-row>               
          <ion-row class="row"><ion-icon style="margin-left: 5%;color: rgb(6, 151, 235);font-size: 18px;" name="location-outline"></ion-icon>
            <!-- <ion-img src="..\assets\images\silhouette-de-forme-simple-de-coeur.png" style="width: 15px;"></ion-img> -->
            <ion-label color="dark"  class="label" style="margin-left: 5%;color: black;font-size: 12px;">{{item.code}}{{item.cercledepart.nomCercle}} /  {{item.cerclearrivee.nomCercle}}</ion-label><br><br>
        </ion-row>
        <ion-row>
           
            <ion-icon style="margin-left: 5%;color: rgb(6, 151, 235) ;font-size: 18px;" name="time-outline"></ion-icon>
            <ion-label color="dark" class="label"  style="margin-left: 5%;color: rgb(248, 168, 20);font-size: 15px;">{{item.heureDep}}h{{item.minuteDep}}mn</ion-label> 
            <!-- <ion-img src="..\assets\images\panier (2).png" style="width: 20px;"></ion-img> -->
          </ion-row>
        </div>
      </ion-card>
        </ion-col>
      </ion-row>
    
</ion-grid>


</ion-content>
